name: Run lint

on: [ push, pull_request ]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: update vendor
      run: go mod vendor
    - name: Lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: latest
        args: -v --timeout 5m
        skip-cache: true
